@charset "UTF-8";
html {
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
}
body {
    background: #fff;
    color: #333333;
    -webkit-font-smoothing: antialiased;
}
.container-fluid {
    max-width: 960px;
}
header {
    display: -webkit-flex;
    display: table;
}

nav {
    display: table-cell;
}
main {
    padding: 0;
}
footer {
    width: 100%;
    padding: 0.8em;
    background: #ff9b0b;
}
iframe {
    border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
    font-weight: bold;
    font-size: 1.2em;
}
p,
ol,
ul,
blockquote,
td,
th,
dd,
dt {
    margin: 0 0 20px;
    font-size: 1.1em;
    color: #333333;
}
em {
    background: linear-gradient(transparent 75%, #7fbfff 75%);
    font-weight: bold;
}
.text-danger {
    font-weight: bold;
}
.text-success {
    font-weight: bold;
}
.list-unstyled {
    padding: 0.5em;
    border: 3px solid #ff9b0b;
    background: #ffd8a1;
}
.page-header {
    width: 100%;
}
/* -------------------------------------------------------------------
Vertival margin, padding
------------------------------------------------------------------- */
.p-0 {
    padding: 0 !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pt-10 {
    padding-top: 10px !important;
}
.pt-20 {
    padding-top: 20px !important;
}
.pt-30 {
    padding-top: 30px !important;
}
.pt-40 {
    padding-top: 40px !important;
}
.pt-50 {
    padding-top: 50px !important;
}
.pt-140 {
    padding-top: 140px !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.pb-10 {
    padding-bottom: 10px !important;
}
.pb-20 {
    padding-bottom: 20px !important;
}
.pb-30 {
    padding-bottom: 30px !important;
}
.pb-40 {
    padding-bottom: 40px !important;
}
.pb-50 {
    padding-bottom: 50px !important;
}
.pb-140 {
    padding-bottom: 140px !important;
}
.m-0 {
    margin: 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.mt-40 {
    margin-top: 40px !important;
}
.mt-50 {
    margin-top: 50px !important;
}
.mt-60 {
    margin-top: 60px !important;
}
.mt-70 {
    margin-top: 70px !important;
}
.mt-80 {
    margin-top: 80px !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mb-50 {
    margin-bottom: 50px !important;
}
.mb-60 {
    margin-bottom: 60px !important;
}
.mb-70 {
    margin-bottom: 70px !important;
}
.mb-80 {
    margin-bottom: 80px !important;
}

@media only screen and (max-width: 991px) {
    .mt-sm-0 {
        margin-top: 0 !important;
    }
    .mt-sm-10 {
        margin-top: 10px !important;
    }
    .mt-sm-20 {
        margin-top: 20px !important;
    }
    .mt-sm-30 {
        margin-top: 30px !important;
    }
    .mt-sm-40 {
        margin-top: 40px !important;
    }
    .mt-sm-50 {
        margin-top: 50px !important;
    }
    .mt-sm-60 {
        margin-top: 60px !important;
    }
    .mt-sm-70 {
        margin-top: 70px !important;
    }
    .mt-sm-80 {
        margin-top: 80px !important;
    }
    .mb-sm-0 {
        margin-bottom: 0 !important;
    }
    .mb-sm-10 {
        margin-bottom: 10px !important;
    }
    .mb-sm-20 {
        margin-bottom: 20px !important;
    }
    .mb-sm-30 {
        margin-bottom: 30px !important;
    }
    .mb-sm-40 {
        margin-bottom: 40px !important;
    }
    .mb-sm-50 {
        margin-bottom: 50px !important;
    }
    .mb-sm-60 {
        margin-bottom: 60px !important;
    }
    .mb-sm-70 {
        margin-bottom: 70px !important;
    }
    .mb-sm-80 {
        margin-bottom: 80px !important;
    }
}
@media only screen and (max-width: 722px) {
    .mt-xs-0 {
        margin-top: 0 !important;
    }
    .mt-xs-10 {
        margin-top: 10px !important;
    }
    .mt-xs-20 {
        margin-top: 20px !important;
    }
    .mt-xs-30 {
        margin-top: 30px !important;
    }
    .mt-xs-40 {
        margin-top: 40px !important;
    }
    .mt-xs-50 {
        margin-top: 50px !important;
    }
    .mt-xs-60 {
        margin-top: 60px !important;
    }
    .mt-xs-70 {
        margin-top: 70px !important;
    }
    .mt-xs-80 {
        margin-top: 80px !important;
    }
    .mb-xs-0 {
        margin-bottom: 0 !important;
    }
    .mb-xs-10 {
        margin-bottom: 10px !important;
    }
    .mb-xs-20 {
        margin-bottom: 20px !important;
    }
    .mb-xs-30 {
        margin-bottom: 30px !important;
    }
    .mb-xs-40 {
        margin-bottom: 40px !important;
    }
    .mb-xs-50 {
        margin-bottom: 50px !important;
    }
    .mb-xs-60 {
        margin-bottom: 60px !important;
    }
    .mb-xs-70 {
        margin-bottom: 70px !important;
    }
    .mb-xs-80 {
        margin-bottom: 80px !important;
    }
}
.fs8 {
    font-size: 8px;
}
.fs10 {
    font-size: 10px;
}
.fs12 {
    font-size: 12px;
}
/* -----body----- */
.header_logo {
    display: table-cell;
    width: 140px;
}
img.img_logo {
    vertical-align: sub;
}
.global-navi {
    display: table;
    margin: 8px 0 13px;
}
.global-navi li {
    position: relative;
    display: table-cell;
    border-left: 1px solid #e9e9e9;
    vertical-align: middle;
}
.global-navi li a {
    display: block;
    width: 150px;
    box-sizing: border-box;
    padding: 9px 0;
    color: #333333;
    text-decoration: none;
    text-align: center;
}

.global-navi li span {
    display: inline-block;
    font-size: 13px;
}
li.home span {
    padding: 4px 0 0 25px;
    background-image: url(/img/common/home.png);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
h2 {
    color: #333333;
    padding: 0.5em;
    background: repeating-linear-gradient(
        45deg,
        #ff9b0b,
        #ff9b0b 10px,
        #ffd8a1 10px,
        #ffd8a1 20px
    );
}
@media screen and (max-width: 812px) {
    table {
        table-layout: auto;
        white-space: nowrap;
    }
    .search-title {
        text-align: center;
    }
    .search-title img {
        width: 100%;
        height: auto;
        margin-bottom: 0.5em;
    }
}
@media screen and (min-width: 813px) {
    table {
        table-layout: fixed;
    }
    .search-title {
        text-align: center;
    }
    .search-title img {
        width: 100%;
        height: auto;
        margin-bottom: 0.5em;
    }
}
table td,
table th {
    font-size: 0.85em;
}
.border1 {
    padding: 0.3em;
    border: 1px solid #d5d5d5;
}
.border1 img {
    width: 100%;
    height: auto;
}
.border2 {
    padding: 0.8em;
    border: 1px solid #d5d5d5;
    margin-bottom: 30px;
}
.border2 img {
    width: 100%;
    height: auto;
}
footer a {
    color: #fff;
    text-decoration: underline;
}
/* -----input----- */
.input-box {
    border: 1px solid #ff9b0b;
    border-radius: 0.25rem !important;
}
.input-tit {
    color: #333333;
    background: none;
    border-bottom: 2px solid #ff9b0b;
}
.input-tit span {
    padding: 4px 0 0 30px;
    background-image: url(/img/common/search.png);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.checkbox:hover {
    background-color: #fff176;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding: 3px 3px 3px 22px;
    cursor: pointer;
}
input[type="checkbox"] + label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -8px;
    background: #fff;
    border: 1px solid #ccc;
}
input[type="checkbox"]:checked + label {
    color: #ff9b0b;
    font-weight: bold;
}
input[type="checkbox"]:checked + label::after {
    position: absolute;
    content: "";
    top: 8px;
    left: 3px;
    width: 13px;
    height: 5px;
    border-left: 2px solid #ff9b0b;
    border-bottom: 2px solid #ff9b0b;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
th.input-th {
    width: 35%;
}
td.input-td {
}
.input-btn {
    width: 70%;
    margin: 0 auto;
}
.input-btn button {
    color: white;
    font-weight: bold;
    background-color: #e31b00;
    border-radius: 0.5rem !important;
}
.item_box {
    border: 2px solid #e31b00;
    border-top: 4px solid #e31b00;
}
.item_tit {
    font-size: 26px;
    padding: 10px;
    color: #007bff;
    background: none;
    text-decoration: underline;
}
.item_detail_box {
    border-top: 1px solid #d8d8d8;
    padding: 8px 10px;
    display: grid;
    grid-template-rows: 80px 136px 1fr;
    grid-template-columns: 250px 1fr;
}
.item_detail_img {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}
.detail_img {
    width: 100%;
    height: auto;
}
.item_detail_glid2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.item_detail_link {
    border: 1px solid #d9d9d9;
    background-color: #f3f3f3;
    margin: 0 0.5em;
}
.item_detail_link p {
    padding: 0.8em;
    margin-left: 0.8em;
    font-weight: 700;
    font-size: 1.2em;
    color: #007bff;
    text-decoration: underline;
    margin: 0;
    text-align: center;
}
.item_glid3 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.item_detail_text {
    margin: 0 0.5em;
    padding: 1px 1px 1px 16px;
    border: 2px solid #1d8227;
    color: #000;
    padding-top: 0;
}
.item_detail_text_tit {
    background: #1d8227;
    position: relative;
    top: -0.85em;
    padding: 0.35em 0.7em;
    color: #fff;
    font-weight: 700;
    border-radius: 0.2em;
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
}
.item_detail_text_ul {
    font-size: 1em;
    list-style-type: none;
    padding-left: 0;
}
.item_detail_text_li {
}
.item_detail_table {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    margin: 0 10px;
}
.item_table-th,
.item_table-td {
    padding: 0.8em;
    width: 20%;
}
.item_table-th {
    color: #ffffff;
    background: #ff9b0b;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 0.9em;
}
.item_table-td {
    font-weight: bold;
    border-right: 1px solid #e0e0e0;
    font-size: 1em;
}
.item_table-th:nth-last-child(),
.item_table-td:nth-last-child() {
    border-right: none;
}
.item_table {
    margin-top: 10px;
    padding: 5px 10px 0;
    border: 2px solid #ff9b0b;
    background: #fff;
    width: 100%;
    text-align: center;
}
.ann span {
    background-image: url(/img/common/yen_w.png);
    padding: 0 0 0 20px;
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.lim span {
    background-image: url(/img/common/star_w.png);
    padding: 0 0 0 20px;
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.exa span {
    background-image: url(/img/common/time_w.png);
    padding: 0 0 0 20px;
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.loa span {
    background-image: url(/img/common/time2_w.png);
    padding: 0 0 0 20px;
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.conveni span {
    background-image: url(/img/common/store_w.png);
    padding: 0 0 0 20px;
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
}
.seveneleven {
    background: no-repeat center/80% url(/img/icon/icon_seveneleven.png);
}
.lawson {
    background: no-repeat center/80% url(/img/icon/icon_lawson.png);
}
.familymart {
    background: no-repeat center/80% url(/img/icon/icon_familymart.png);
}
.ministop {
    background: no-repeat center/80% url(/img/icon/icon_ministop.png);
}
.item-btn {
    margin: auto;
    text-align: center;
}
.item-btn button {
    color: white;
    width: 70%;
    margin: 0 auto;
    font-weight: bold;
    background-color: #e31b00;
    border-radius: 0.5rem !important;
}
.item-btn span {
    background-image: url(/img/common/btn_w.png);
    padding: 0 0 0 20px;
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.item-attention-p {
    padding-left: 2.5em;
}
.item-pr-p {
    text-align: center;
    margin: 5px auto;
}
.cnt-r-tit {
    color: #333333;
    background: none;
    border-bottom: 2px solid #ff9b0b;
}
.cnt-r-tit span {
    padding: 4px 0 0 30px;
    background-image: url(/img/common/star.png);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
